.page{
    display: flex;
    justify-content: center;
}

.tools {
    flex-direction: column;
    margin: 0 auto;
}

.worker-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
